:root {
  --top: -5px;
  --base: #ffc600;
  --left: 50px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #badd55;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
}
.player {
  position: relative;
  background: rgb(50, 50, 50);
  margin: 50px auto;
  max-width: 700px;
  overflow: hidden;
}
.player__video {
  width: 100%;
}

.player__controls {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  transform: translateY(100%) translateY(-4px);
}
.player:hover .player__controls {
  transform: translateY(-5px);
}
.player:hover .progress {
  height: 12px;
  width: 88%;
}
.player:hover .player__time {
  display: initial;
}
.button__group {
  display: flex;
}
label {
  color: rgb(240, 240, 240);
  padding: 0 5px;
}

.player__button {
  font-size: 15px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(240, 240, 240);
  margin: 0;
  padding: 0;
  outline: 0;
  height: 25px;
  min-width: 45px;
  text-align: center;
  cursor: pointer;
}
.progress {
  width: 100%;
  height: 5px;
  cursor: w-resize;
  background-color: rgba(0, 0, 0, 0.3);
}
.progress-filled {
  height: 100%;
  width: 0%;
  background-color: yellow;
}
.player__time {
  width: 6%;
  color: rgb(240, 240, 240);
  font-size: 14px;
  text-align: center;
  display: none;
}
.player__slider {
  position: relative;
}
.player__slider::before {
  content: attr(data-content);
  color: rgb(240, 240, 240);
  position: absolute;
  top: var(--top);
  left: calc( var(--left) + 10px);
   width: 30px;
  opacity: 0;
}
.button__group:hover .player__slider::before {
  opacity: 1;
}
/*
.player__slider {
  -webkit-appearance: none;
  appearance: none;

  height: 15px;
  background: rgba(250, 250, 250, 0.9);
  outline: none;
  opacity: 0.6;
  transition: opacity 0.3s;
}

.player__slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width:25px;
    height:25px;
    background: yellow;
}
*/
